<section class="card px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap mb-4">
    <div class="w-full lg:w-6 pl-0 lg:pr-4">
      <img
        src="assets/blocks/about/about-1.png"
        alt="Image"
        class="w-full border-round"
      />
    </div>
    <div class="w-full lg:w-6 pr-0 lg:pl-4 mt-3 lg:mt-0">
      <div class="font-bold text-4xl mb-4 text-900">About us</div>
      <p class="line-height-3 mt-0 mb-3 p-0">
        Welcome to AJ Fitness, founded in 2023 by [Owner's Name test]. As a
        certified personal trainer, [Owner's Name] is dedicated to your fitness
        journey. With tailored programs and a supportive community, we're here
        to inspire and empower you to reach your goals. Join us for diverse
        fitness classes, personalized training, and wellness programs.
        Experience the difference with [Owner's Name]'s expertise, motivation,
        and care. Your journey to a healthier, stronger you starts here at AJ
        Fitness.
      </p>
    </div>
  </div>
  <div class="col-12 mt-3 md:mt-8">
    <div class="font-bold text-4xl mb-4 text-900">Services</div>
    <div
      class="grid grid-nogutter px-2 flex-column md:flex-row"
      style="column-gap: 2rem; row-gap: 2rem"
    >
      <div *ngFor="let item of content" class="col text-center serv p-4">
        <span class="text-blue-800 font-bold">{{ item }}</span>
      </div>
    </div>
  </div>
</section>
